.form_data {
    background-color: black;
    color: white;
}
 .logo {
     width: 200px;
     margin-top: 17%;
 }
 .logo_container {
    width: 210px;
    height: 120px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    background-color: white;
    margin-left: 20%;
 }
 .center {
     margin: 0px auto;
 }
 .text-center {
     text-align: center !important;
 }
 .anchor_link {
     color: blue;
 }
 .anchor_link:hover {
     cursor: pointer;
     text-decoration: underline;
 }

 .registeration_image {
     border-radius: 5% 5% 5% 5%;
     background-color: white;
     box-shadow: 0px 0px 10px 2px #E0FFFF;
     min-height: 500px;
    }

 body {
    background-color: rgb(249, 250, 251) !important;
    font-family: Public Sans;
  }
  .login_header {
      margin-bottom: 30px;
      margin-left: 30px;
  }
  .headerForm {
      margin-top: 20px;

  }
  .pt100 {
      padding-top: 100px;
  }
  .registeration_image img {
      width: 100%;
  }
  .pt50 {
      padding-top: 50px;
  }

  .pr20 {
    padding-right: 20px;
  }

  .pl40 {
    padding-left: 40px;
    }
  .pl50 {
      padding-left: 50px;
  }

  .pt20 {
      padding-top: 20px;
  }

  .float-left {
      float: left;
  }

  .float-right {
    float: right;
}

  .pb20 {
      padding-bottom: 20px;
  }

  .pr20 {
      padding-right: 20px;
  }

  .w100 {
      width: 100%;
  }

  .fw10 {
      font-weight: 10;
  }

  .registerationForm .form-label, .login_form .form-label {
      font-weight: 600;
  }

  .login_form, .registerationForm {
      width: 70%;
  }

 .form-text {
     font-style: oblique;
     font-weight: 500;
 }
 .container {
     max-width: 98% !important;
 }

 .dashboard_sidebar {
     border-right: 1px solid #dcdcdc;
     padding-right:0px !important;
     padding-left:0px !important;
 }

 .mt50 {
     margin-top: 50px !important;
 }

 .mt100 {
    margin-top: 100px;
}

.mt10 {
    margin-top: 10px;
}

.go-back {
    font-size: 30px;
    color: green;
}

 .dashboard_menu {
     min-height: 400px;
 }

 .dashboard_menu div {
     min-height: 30px;
     text-decoration: none;
     list-style: none;
     padding: 10px 15px;
     font-size: 16px;
     margin-top: 10px;
     margin-left: 0px;
     color : rgb(99, 115, 129);
     font-weight: 400;
     font-family : "Public Sans", sans-serif;
 }

 .dashboard_menu a div:hover, .active {
    background-color: rgba(0, 171, 85, 0.08) !important;
    cursor: pointer;
    color : rgb(0, 171, 85) !important;
    font-weight: 600;
}

.active {
    border-right: 4px solid green;
}
.userMail {
    border-bottom: 1px rigid black;
    padding-bottom: 15px;
}
.userDetails div a{
    color: black !important;
}
.userDetails div {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

.dashboard_menu a div svg {
    font-size: 20px;
    font-weight: 800;
    margin-right: 10px;
}

.black {
    background-color: black;
}

.details {
    border-bottom: 2px solid black;
}

.header-name {
    margin-top: 20px;
    padding: 15px 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(145, 158, 171, 0.12);
    margin-right: 30px;
    min-height: 60px;
    text-align: center;
    margin-bottom: 30px;
    border-radius: 10%;
}
.col-20 {
    width: 20% !important;
}
.col-80 {
    width: 80% !important;
}
.header-name img {
    background-color: #D3D3D3;
    border-radius:70%;
    width: 40px;
}
.float-right { 
    float: right;
}

.profile-popup {
    margin-top: 10px;
}

.profile-popup a {
    color: black !important;
}
.profile-popup a:hover {
    color: blue !important;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-item :hover {
    color: white;
}
.navImage {
    width: 10px;
    height: 10px;
}
.bold {
    font-family: bold;
}
.dropdown-toggle::after {
    content: none !important;
}

.profile-popup:hover {
    border: 1px ridge rgba(145, 158, 171, 0.24);
    border-width:thin;
}
.logo {
    width: 50px !important;
    margin-left: 30px;
}

a {
   color: green;
    text-decoration: none !important;
}

.green {
    color: green;
}

.green {
    color: blue;
}

.dashboard-content {
    padding-left: 30px;
}

.bucketImage {
    width: 100%;
    height: 200px;
}

.fileList {
    text-decoration: none;
    list-style-type:none;
}
.right-align {
    float : right;
    padding-right: 5px;
}
.deleteFile {
    position: absolute;
    visibility: hidden;
    bottom: 25px;
}
.fileContainer {
    margin-bottom: 50px;
    position: relative;

}
.fileContainer:hover .deleteFile,.fileContainer:hover .deleteBucket {
    visibility: visible;  
 }
 .folderList {
     width: 100%;
 }
 .h200 {
     height: 200px;
 }
 .deleteBucket {
     position: absolute;
     bottom:35px;
     left:12px;
     visibility: hidden;
 }
 .pointer:hover{
    cursor: pointer !important;
 }
 .bucketSelect {
     width: 200px !important;
    margin-bottom: 40px;
 }
.dashboardLogo {
    width: 40px;
    margin: 30px 0px;
    max-width: 100%;
}
.mb6 {
    margin-bottom: 6px;
}
.breadcrumb a {
    color: black;
}
.spinner-grow {
    margin-left: 30px;
    margin-top: 50px;
}
.loader-check {
    margin-left: 30%;
}
.ml10 {
    margin-left: 10px;
}

.errorMsg {
    color: red;
    font-size: 14px;
}
.display-none {
    display: none !important;
}
.createBucket {
    width: 180px !important;
    float: right;
    margin-bottom: 50px;
}
.dashboardInfo {
    height: 250px;
    margin-left: 30px;
    border-radius: 20% 20%;
    background-color: rgb(200, 250, 205);
}
.headerInfo {
    margin-bottom: 30px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 100px;
    height: 100px;
    position: fixed;
    z-index: 200;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .dashboardIcon {
      font-size: 50px;
      margin-top: 70px;
      text-align: center;
  }
  .bucketIcon {
      color: green;
      border-radius: 50%;
  }
  .peopleIcon {
      color: rgb(4, 41, 122);
  }
  .people{
    background-color:rgb(208, 242, 255) !important;
  }

  .image-button {
      width: 100%;
      float: right;
  }